# Node modules
node_modules/

# Expo files
.expo/
expo-env.d.ts

# Build output
dist/
web-build/
build/
out/

# Logs
npm-debug.*
*.log

# macOS
.DS_Store

# Sensitive files
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment variables
.env
.env/

android

# Coverage reports
coverage/

# Visual Studio Code
.vscode/

# Original backup files
*.orig.*
